<% if (theme.duoshuo_shortname){ %>
<div class="widget-wrap">
  <h3 class="widget-title"><%= __('duoshuo_recent_comments') %></h3>
  <ul class="widget ds-recent-comments" data-num-items="5" data-show-avatars="0" data-show-title="1" data-show-time="1"></ul>
</div>
<!-- 需要多说的公用代码 -->
<% } %>
