<% if (theme.links && theme.links.length){ %>
<div class="widget-wrap">
  <h3 class="widget-title"><%= __('links') %></h3>
  <ul class="widget">
    <% theme.links.forEach(function(item){ %>
    <li><a href="<%= item.link %>" target="_BLANK"><%= item.name %></a></li>
    <% }); %>
  </ul>
</div>
<% } %>
