<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud({start_color: '#7dc3de', end_color: '#1db400',color: true, min_font: 13}) %>
    </div>
  </div>
<% } %>
