.about-me
  text-align center
  margin 0 auto
.author
  width w=(110/16)em
  height w
  margin 0 auto
  border-radius (w/2)
  transition transform 2s ease-out
  &:hover
    transform rotateZ(360deg)
  @media tablet
    position: absolute;
    top 6em
    margin 0 0 1.5em
